body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

#container {
  position: relative;
  width: 95vw;
  height: 95vh;
  background-color: #ffffff;
  border: 2px solid #000;
}

.ball {
  position: absolute;
  border-radius: 50%;
}

.circle {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(63, 63, 231);
  opacity: 0.4;
  display: none;
}
